@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-color: purple;
	position: relative;
}

.btn {
	background-color: #fff;
	color: purple;
	font-size: 16px;
	font-family: inherit;
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.btn:active {
	transform: scale(0.96);
}
#toast {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.toast {
	background-color: #fff;
	color: purple;
	border-radius: 5px;
	padding: 1rem 2rem;
	margin: 0.5rem;
}
